# ==================================
# Visual Studio / .NET Core 
# ==================================

# Build results
[Bb]in/
[Oo]bj/

# Visual Studio cache/options directory
.vs/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Mac/Linux files (phòng hờ)
.DS_Store
Thumbs.db

# Log files
*.log

# Appsettings (Chỉ ignore file cá nhân, KHÔNG ignore appsettings.json)
appsettings.Development.json
appsettings.*.json
!appsettings.json